<% layout('/layouts/boilerplate')%>
<div class="row first-div">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading mt-3 mb-4">Error <%= err.status %>!</h4>
            <p class="mb-4 w-auto"><%= err.message %></p>
            <hr>
            <p class="mb-0 mt-3">Gil's Automotive</p>
        </div>
    </div>
</div>