<% layout('/layouts/boilerplate')%>

<div class="banner container">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="text-center text-white">
                <h4>About Us > Reviews > Leave a Review</h4>
            </div>
        </div>
    </div>
</div>

<div class="container first-div px-xl-5">
    <form action="/review" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
            <label class="form-label" for="firstName"> First Name:</label>
            <input class="form-control w-50" type="text" id="firstName" placeholder="First Name" name="firstName" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Make sure to fill this out!
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="lastName"> Last Name:</label>
            <input class="form-control w-50" type="text" id="lastName" placeholder="Last Name" name="lastName" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Make sure to fill this out!
            </div>
        </div>

        <label class="d-block mb-0" for="rating">Rating:</label>
        <div class="rating" id="rating">
            <input name="rating" type="radio" id="star5" value="5"><label for="star5">&#9733;</label>
            <input name="rating" type="radio" id="star4" value="4"><label for="star4">&#9733;</label>
            <input name="rating" type="radio" id="star3" value="3"><label for="star3">&#9733;</label>
            <input name="rating" type="radio" id="star2" value="2"><label for="star2">&#9733;</label>
            <input name="rating" type="radio" id="star1" value="1"><label for="star1">&#9733;</label>
        </div>
        <br>
        <div class="mb-4">
            <label for="comment" style="margin-top: 30px; display: block">Review:</label>
            <textarea class="form-control" name="comment" id="comment" rows="5" style="resize: none;" name="comment" placeholder="Write about your experience at Gil's Automotive!" required></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Make sure to fill this out!
            </div>
        </div>
    <button class="btn btn-success">Submit</button>
    </form>
</div>

<script src="/js/new-review.js"></script>

</html>
