<% layout('/layouts/boilerplate')%>

<div class="banner container">
  <div class="row align-items-center h-100">
      <div class="col-6 mx-auto">
          <div class="text-center text-white">
              <h4>About Us > Reviews</h4>
          </div>
      </div>
  </div>
</div>

<div class="container first-div px-xl-5">
  <div class="pb-xl-5">
    <a href="/review/new" class="review-but text-white" style="float:left">Leave a Review</a><br>
  </div>
    <% for (let review of reviews) {%>
        <div class="card review-card pb-1">
            <div class="card-body">
              <h5 class="card-title width-auto"><%= `${review.firstName} ${review.lastName}` %></h5>
                <div class="star-row">
                <% for (let i = 0; i < review.rating; i++) {%>
                    <span style="color: orange">&#9733;</span>
                <%  }  %>
                </div>
              <p class="card-text" style="margin-top: 20px;"><%= review.comment %></p>
            </div>
          </div>
    <% } %>
</div>
</html>
