<% layout('/layouts/boilerplate')%>

<div class="banner">
  <div class="container pb-xl-5 px-xl-5 py-xl-5" id="home">
      <div class="w-50 d-inline-block py-xl-4">
          <h1 class="banner-title text-white">Reviews</h1>
          <p class="text-white">
              Come check out what others have to say about us!
          </p>
      </div>
      <img src="https://i.imgur.com/9KRtPRR.png" width="49%" id="red-car" class="pl-xl-5 align-top">
  </div>

  <img src="https://i.imgur.com/YPJ95dC.png" class="w-100">
</div>

<div class="container py-xl-5 px-xl-5">
  <div class="pb-xl-5">
    <a href="/review/new" class="review-but text-white" style="float:left">Leave a Review</a><br>
  </div>
    <% for (let review of reviews) {%>
        <div class="card review-card pb-1">
            <div class="card-body">
              <h5 class="card-title width-auto"><%= `${review.firstName} ${review.lastName}` %></h5>
                <div class="star-row">
                <% for (let i = 0; i < review.rating; i++) {%>
                    <span style="color: orange">&#9733;</span>
                <%  }  %>
                </div>
              <p class="card-text" style="margin-top: 20px;"><%= review.comment %></p>
            </div>
          </div>
    <% } %>
</div>
</html>
