<% layout('/layouts/boilerplate')%>

<div class="banner container">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="text-center text-white">
                <h4>Home > Services</h4>
            </div>
        </div>
    </div>
</div>

<div class="container first-div px-xl-5" id="services">
    <div>
        <% for (const service in serviceData) { %>
            <a href=<%= `/services/${serviceData[service].url}` %>>
                <div class="card card-service">
                    <img class="card-img-top" src=<%= serviceData[service].img %> alt="Radiator">
                    <div class="card-body border-top">
                        <h5 class="card-title small"><%= serviceData[service].name%></h5>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</div>
</html>