<% layout('/layouts/boilerplate')%>
    <div class="container first-div pb-1 px-xl-5">
        <h2>Home > Services > <%= name %></h2>
        <p class="service-desc"><%= desc1 %></p>
        <br>
        <p class="service-desc"><%= desc2 %></p>
    </div>
</html>