<% layout('/layouts/boilerplate')%>
<div class="banner container">
    <div class="row align-items-center h-100 w-100">
        <div class="col-6 mx-auto">
            <div class="text-center text-white">
                <h4>Home > Services > <%= name %></h4>
            </div>
        </div>
    </div>
  </div>

    <div class="container first-div pb-1 px-xl-5">
        <p class="service-desc"><%= desc1 %></p>
        <br>
        <p class="service-desc"><%= desc2 %></p>
    </div>
</html>