<% layout('/layouts/boilerplate')%>

<div class="banner">
    <div class="container px-xl-5 py-xl-5" id="home">
        <h1 class="banner-title text-white pt-xl-5 d-block w-100 text-center"><%=name%></h1>
        <div class="text-center mt-xl-3">
            <img src=<%= img %> width="15%" id="red-car">
        </div>
    </div>

    <img src="https://i.imgur.com/YPJ95dC.png" class="w-100">
</div>

    <div class="container first-div py-xl-5 px-xl-5">
        <p class="service-desc"><%= desc1 %></p>
        <br>
        <p class="service-desc"><%= desc2 %></p>
    </div>
</html>